<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/oc?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>
        
<!--        <property name="hibernate.connection.url">jdbc:mysql://lord.utpl.edu.ec:3306/oc?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">rsguayax</property>
        <property name="hibernate.connection.password">rsg2012</property>-->
        
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.transaction.auto_close_session">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">5</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.timeout">1800</property>
        
        <mapping resource="model/Participante.hbm.xml"/>
        <mapping resource="model/RolUsuario.hbm.xml"/>
        <mapping resource="model/UsuarioAuth.hbm.xml"/>
        <mapping resource="model/Adjunto.hbm.xml"/>
        <mapping resource="model/Media.hbm.xml"/>
        <mapping resource="model/RolFuncionalidad.hbm.xml"/>
        <mapping resource="model/Evaluacion.hbm.xml"/>
        <mapping resource="model/Convocatoria.hbm.xml"/>
        <mapping resource="model/Rol.hbm.xml"/>
        <mapping resource="model/Funcionalidad.hbm.xml"/>
        <mapping resource="model/Usuario.hbm.xml"/>
        <mapping resource="model/Idea.hbm.xml"/>
        <mapping resource="model/Catalogo.hbm.xml"/>
        <mapping resource="model/ItemCatalogo.hbm.xml"/>
        <mapping resource="model/Ciiu.hbm.xml"/>
        <mapping resource="model/ConvocatoriaResponsable.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
